*{
    font-family: Montserrat, sans-serif
}
#Footer{
    .Footer-start{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .Footer-ul{
            list-style-type: none;
            align-self: flex-start;
            line-height: 30px;
            .List-h{
                color: #252B42;
            }
            .Ul-list{
                color: #737373;
            }
        }
    }
    .Footer-end{
        text-align: center;
        color: #737373;
    }
}